@using System.Activities.Statements
@using System.Web.Razor.Tokenizer
@using Microsoft.AspNet.Identity
@using Volunteering.Service
@model Volunteering.Domain.Entities.VoluntaryAction

@{
    ViewBag.Title = "Details";
}


<h2>Details</h2>

<div>
    <h4>VoluntaryAction</h4>
    <hr />
    <dl class="col-md-8 well well-lg">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxVolunteers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxVolunteers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionType)
        </dd>

        <dt>
            Organization Name
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.CreatorNgo.UserName)*@
            @Html.DisplayFor(modelItem =>
                new @VoluntaryActionService().GetNgoCreatorById(Model.CreatorNgoId).Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Participants)
        </dt>

        <dd>
            @*@Html.DisplayName(new @VoluntaryActionService().GetById(Model.ActionId).Participants.Count.ToString())*@
            @foreach (var action in new @VoluntaryActionService().GetAllActions())
            {
                if (action.ActionId==Model.ActionId)
                {
                    @Html.DisplayName(action.Participants.Count.ToString())
                }
                
               

            }
            <br /><br />
            @Html.ActionLink("See the list of participants", "ListParticipants", new { id = Model.ActionId })
        </dd>
       

    </dl>
    
    

    @if (!(new VoluntaryActionService().IsParticipated(Model.ActionId,User.Identity.GetUserId()))) { 

    using (Html.BeginForm("Participate", "VoluntaryAction", new { id = Model.ActionId }))
    {
        <input type="submit" value="Participate :p:p" onclick = "return confirm('Are you sure you want to participate?');" />
    }

    }
    else
    {
        
        using (Html.BeginForm("Participate", "VoluntaryAction",  new { id = Model.ActionId }))
        {
            <input type="submit" value="Cancel :p:p" onclick = "return confirm('Are you sure you want to participate?');" />
        }        
    }

</div>


<div class="col-md-4 well well-lg">
    <h3>Peoples to invite</h3>

    <table>


        @foreach (var item in ViewBag.VolNotInvited)
            {


            <tr>
                <td>


                    <span> @item.Email</span>


                </td>

                <td>

                    @using (Html.BeginForm("InvitCreate", "Invitation", new { idA = @ViewBag.actionId, idV = @item.Id }, FormMethod.Post, null))

                    {


                        <input type="submit" value="Inviter" class="btn btn-success" />

                    }
                </td>

            </tr>
        }


    </table>

</div>
<div class="col-md-4 well well-lg">
    <h3>Peoples alreday invited</h3>
    <table>

        @foreach (var item in ViewBag.VolInvited)
            {
            <tr>
                <td>


                    <span> @item.Email</span>
                </td>

                <td>


                    @using (Html.BeginForm("DeleteInvit", "Invitation", new { idA = @ViewBag.actionId, idV = @item.Id }, FormMethod.Post, null))

                {
                        <input type="submit" value="Annuler l'invitation" class="btn btn-danger" onclick ="return confirm('Are you sure you want to delete the invitation ?');"/>
                    }

                </td>
            </tr>
        }
    </table>
</div>

<div>
    <p>

        @Html.ActionLink("Edit", "Edit", new { id = Model.ActionId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>