
@using System.Web.Razor.Parser.SyntaxTree
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    //using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right " }))
    //{

    //    @Html.AntiForgeryToken()
    @*<li><a href="javascript:document.getElementById('logoutForm').submit()">  LogOut <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></li>*@

    //}

    //    TODO ADD MANAGE CONTROLLER

    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(" ", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "glyphicon glyphicon-user h3" }) </li>
        <li>@Html.ActionLink("  " , "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Invitations" , @class= "glyphicon glyphicon-envelope h3" }) </li>
        <li>@Html.ActionLink("  " , "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Messages" , @class= "glyphicon glyphicon-comment h3" }) </li>
        <li>@Html.ActionLink("  " , "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Notfications" , @class= "glyphicon glyphicon-bell h3" }) </li>
        <li> @Html.ActionLink(" ", "Logout", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = " glyphicon glyphicon-log-out h3" })</li>

    </ul>

}

else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(" ", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = " glyphicon glyphicon-user h3" })</li>
        <li> @Html.ActionLink(" ", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" , @class = " glyphicon glyphicon-log-in h3" })</li>
    </ul>

}