    @using Microsoft.Ajax.Utilities    @using Microsoft.AspNet.Identity
@using Volunteering.Service.Identity
@model Volunteering.Domain.Entities.ApplicationUser

@{
    ViewBag.Title = "UserProfile";
}



<div class="well well-lg row">
 
    
    <div class="col col-md-4">
        <div class="well well-lg">

            <h5 align="center"> @Html.Label(Model.Id)</h5> 
            <img src="https://www.w3schools.com/bootstrap/paris.jpg" class="img-responsive img-thumbnail" alt="Cinque Terre">
            <div class="well well-sm">
                <h3 class="text-center"> <span class="label label-info">@Model.Name</span></h3>
                @if (Model.Id != User.Identity.GetUserId() && User.Identity.IsAuthenticated)
                {



                    using (Html.BeginForm("CreateNewDiscussion", "Discussion", FormMethod.Get, new {id = Model.Id}))
                    {
                        @Html.Hidden("email", Model.Email)
                        <input type="submit" value="Send Message" class="btn btn-info btn-lg glyphicon glyphicon-envelope"/>
                    }

                }
                <ul class="form-group">
                    <li>@Html.Label(Model.Email)</li> 
                    <li>@Html.Label(Model.PhoneNumber.IfNullOrWhiteSpace("N/A")))</li> 
                    <li>@Html.Label(new UserService().GetUserRole(Model))</li>

                </ul>





            </div>

                   
        </div>
    </div>
    
    
    <!--ACTIONS LIST-->

    <div class="col col-md-4">
        <div class="well well-lg">
            <label>Actions </label>
        </div>
        <div class="well well-lg">
        </div>
    </div>
    
    <!--CAMPAIGNS LIST-->

    <div class="col col-md-4">
        <div class="well well-lg">
            <label>Campaigns </label>
        </div>
        <div class="well well-lg">
        </div>

    </div>




    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")*@
    </p>
    
    
    


</div>
