@using Volunteering.Service

@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>

    @Html.ActionLink("Add User", "AddUser", "Home")*@

@Html.Partial("_Slider")


<div class="row">
    <div class="col-md-3  well well-sm">

        <div class=" well well-sm">
            <label class="glyphicon glyphicon-plus-sign h3"> Recent Actions:</label>
            <hr />
            <ul>
                @foreach (var action in new @VoluntaryActionService().GetRecentActions())
            {<li>

                 <a href="@Url.Action("Details", "VoluntaryAction", new {id =@action.ActionId})">
                     @action.Name
                 </a>
                 <br />
                 <span>From<span> </span></span><span>@action.StartDate.ToString("d")<span> </span></span><span>  </span><span>To<span> </span></span><span>@action.EndDate.ToString("d")</span>
             </li>
                    <br />
                    // @Html.ActionLink(@action.Address, "Details", "VoluntaryAction", new { id = action.ActionId })
                }
            </ul>
                    <br />
                    <br />
                    <br />
                    <br />
</div>
        

        <div class=" well well-sm">
            <label class="glyphicon glyphicon-euro h3"> Recent Donations:</label>
            <hr/>

            <br />
            <br />
            <br />
            <br />
        </div>
    </div>


    <div class="col-md-9   well well-sm">
        <h3 align=center>Google Map Below</h3>

        <hr />
        <div class="jumbotron">
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>


</div>

<div class="row">

    <div class="col-md-12 jumbotron">

        <h4>Other content here</h4>


    </div>

</div>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
