@using Volunteering.Service

@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>

    @Html.ActionLink("Add User", "AddUser", "Home")*@

@Html.Partial("_Slider")


<div class="row">
    <div class="col-md-3  well well-sm">

        <div class=" well well-sm">
            <label class="glyphicon glyphicon-plus-sign h3"> Recent Actions:</label>
            <hr />
            <ul>
                @foreach (var action in new @VoluntaryActionService().GetRecentActions())
            {<li>

                 <a href="@Url.Action("Details", "VoluntaryAction", new {id =@action.ActionId})">
                     @action.Name
                 </a>
                 <br />
                 <span>From<span> </span></span><span>@action.StartDate.ToString("d")<span> </span></span><span>  </span><span>To<span> </span></span><span>@action.EndDate.ToString("d")</span>
             </li>
                   
                    // @Html.ActionLink(@action.Address, "Details", "VoluntaryAction", new { id = action.ActionId })
                }
            </ul>
                    <br />
                    <br />
                    <br />
                    <br />
</div>
        

        <div class="well well-sm">
            <label class="glyphicon glyphicon-euro h3"> Recent Donations:</label>
            <hr/>

            <br />
            <br />
            <br />
            <br />
        </div>
    </div>


    <div class="col-md-9   well well-sm">

        <div class="well well-sm">
            <fieldset>  
                @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@  
  
                <div id="googleMap" style="height:500px;width:100%;" ></div>  
                <script>
                    function myMap() {
                        
                        var myCenter = new google.maps.LatLng(36.8064948, 10.181531599999971);
                        var mapProp = { center: myCenter, zoom: 8, scrollwheel: false, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
                        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
                        var marker = new google.maps.Marker({ position: myCenter });
                        var marker1 = new google.maps.Marker({ position: new google.maps.LatLng(37.2767579, 9.864160900000002) });
                        var marker2 = new google.maps.Marker({ position: new google.maps.LatLng(37.21706989634869, 10.059717490333583) });
                        marker.setMap(map);
                        marker1.setMap(map);
                        marker2.setMap(map);
                       
                    }
                </script>  
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8BtMRdu9tvtEaHDsoRFKafb3eDeiUcGA&callback=myMap"></script>  
            </fieldset>  
        </div>
    </div>


</div>

<div class="row">

    <div class="col-md-12 jumbotron">

        <h4>Other content here</h4>


    </div>

</div>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
@section scripts
{
    

}
